database:
  host: localhost
  port: 27017
  name: boom
  max_pool_size: 200
  replica_set: null
  username: mongoadmin
  password: "" # Set via BOOM_DATABASE__PASSWORD environment variable
  srv: false
api:
  port: "" # Set via BOOM_API__PORT environment variable
  auth:
    secret_key: "" # Set via BOOM_API__AUTH__SECRET_KEY environment variable
    token_expiration: 604800 # JWT token expiration in seconds (7 days) -- must be > 0
    admin_username: admin
    admin_password: "" # Set via BOOM_API__AUTH__ADMIN_PASSWORD environment variable
    admin_email: admin@example.com
babamul:
  enabled: false
redis:
  host: localhost
  port: 6379
kafka:
  consumer:
    ztf:
      server: "localhost:9092"
      group_id: "" # Set via BOOM_KAFKA__CONSUMER__ZTF__GROUP_ID environment variable
    lsst:
      server: "usdf-alert-stream-dev.lsst.cloud:9094"
      schema_registry: "https://usdf-alert-schemas-dev.slac.stanford.edu"
      group_id: "" # Set via BOOM_KAFKA__CONSUMER__LSST__GROUP_ID environment variable
      username: "" # Set via BOOM_KAFKA__CONSUMER__LSST__USERNAME environment variable
      password: "" # Set via BOOM_KAFKA__CONSUMER__LSST__PASSWORD environment variable
    decam:
      server: "localhost:9092"
      group_id: "" # Set via BOOM_KAFKA__CONSUMER__DECAM__GROUP_ID environment variable
  producer:
    server: "localhost:9092" # Only one global producer for now (filter worker output)
workers:
  ztf:
    command_interval: 500
    alert:
      n_workers: 1
    enrichment:
      n_workers: 1
    filter:
      n_workers: 1
  lsst:
    command_interval: 500
    alert:
      n_workers: 1
    enrichment:
      n_workers: 1
    filter:
      n_workers: 1
  decam:
    command_interval: 500
    alert:
      n_workers: 1
    enrichment:
      n_workers: 0
    filter:
      n_workers: 1
crossmatch:
  lsst: []
  decam: []
  ztf:
    - catalog: panstarrs
      collection: PS1_DR1
      radius: 2.0 # 2 arcseconds
    - catalog: gaia
      collection: Gaia_DR3
      radius: 2.0 # 2 arcseconds
    - catalog: milliquas
      collection: milliquas_v6
      radius: 2.0 # 2 arcseconds
    - catalog: ned
      collection: NED
      radius: 300.0 # 300 arcseconds
      distance_key: "z"
      distance_max: 30.0
      distance_max_near: 300.0
